:root {
    --lim-green: hsl(163, 72%, 41%);
    --bright-red: hsl(356, 69%, 56%);
    --facebook: #238be7;
    --twitter: hsl(203, 89%, 53%);
    --instagram-1: hsl(37, 97%, 70%);
    --instagram-2: hsl(329, 70%, 58%);
    --youTube: hsl(348, 97%, 39%);
    --dark-grayish: hsl(228, 12%, 44%);
    --light-grayish-blue: hsl(227, 47%, 96%);
    --desaturated-blue-text: hsl(228, 34%, 66%);
    --blue-dark: hsl(230, 17%, 14%);
    --blue-dark-cards: hsl(228, 28%, 20%);
    --white: hsl(0, 0%, 100%);
    --backgroud-btn-dm1: hsl(210, 78%, 56%);
    --backgroud-btn-dm2: hsl(146, 68%, 55%);
    --background-header-light: #f8f9fe;
    --switch: var(--dark-grayish);
    --switch-point: var(--white);
    --black: #000;
    --dark-mode-title: var(dark-grayish);
}

body {
    font-family: 'Inter', sans-serif;
    margin: auto;
}

main {
    background: var(--white);
    padding-bottom: 7vmax;
}

h2 {
    color: var(--dark-grayish);
}

.wrapper {
    padding: 0 30px;
}

.grid {
    display: grid;
    grid-row-gap: 30px;
}

@media screen and (min-width: 480px) {
    .grid {
        /* border: 2px solid orange; */
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 25px;
    }
    .wrapper {
        max-width: 1440px;
        margin: auto;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        /* border: 2px solid orange; */
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .grid {
        /* border: 2px solid orange; */
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .header-total {
        border: none;
    }
    .header-grid {
        display: grid;
        grid-template-columns: 1fr 180px;
    }
}

.is-dark-mode {
    --light-grayish-blue: hsl(228, 28%, 20%);
    --dark-grayish: hsl(228, 34%, 66%);
    --background-header-light: var(--blue-dark);
    --white: var(--blue-dark);
    --switch: linear-gradient(to right, var(--backgroud-btn-dm1), var(--backgroud-btn-dm2));
    --switch-point: var(--blue-dark);
    --black: hsl(0, 0%, 100%);
    --dark-mode-title: hsl(0, 0%, 100%);
}

.is-light-mode {
    --dark-grayish: hsl(228, 12%, 44%);
    --light-grayish-blue: hsl(227, 47%, 96%);
    --desaturated-blue-text: hsl(228, 34%, 66%);
    --blue-dark: hsl(230, 17%, 14%);
    --blue-dark-cards: hsl(228, 28%, 20%);
    --white: hsl(0, 0%, 100%);
    --backgroud-btn-dm1: hsl(210, 78%, 56%);
    --backgroud-btn-dm2: hsl(146, 68%, 55%);
    --background-header-light: #f8f9fe;
    --switch: var(--dark-grayish);
    --switch-point: var(--white);
    --black: #000;
    --dark-mode-title: hsl(228, 12%, 44%);
}

@media (prefers-color-scheme: dark) {
     :root {
        --light-grayish-blue: hsl(228, 28%, 20%);
        --dark-grayish: hsl(228, 34%, 66%);
        --background-header-light: var(--blue-dark);
        --white: var(--blue-dark);
        --switch: linear-gradient(to right, var(--backgroud-btn-dm1), var(--backgroud-btn-dm2));
        --switch-point: var(--blue-dark);
        --black: hsl(0, 0%, 100%);
        --dark-mode-title: hsl(0, 0%, 100%);
    }
}